MAGISFORM_MANAGER_IMAGE=magisform-manager:git-SUBSTITUIR_COMMIT
MAGISFORM_MANAGER_ORIGIN=https://gestao.exemplo.com.br
MAGISFORM_MANAGER_TRUST_PROXY=172.30.0.0/24
MAGISFORM_MANAGER_APPROVED_IMAGES=magisform:git-SUBSTITUIR_COMMIT
MAGISFORM_MANAGER_EXPECTED_IMAGE_ID=sha256:SUBSTITUIR_IMAGE_ID
MAGISFORM_MANAGER_PUBLIC_MODE=true
MAGISFORM_MANAGER_ALLOW_HOST_WITHOUT_PORT=false
MAGISFORM_MANAGER_CERTIFICATE_EMAIL=operador@exemplo.com
MAGISFORM_MANAGER_TEST_DOMAIN_SUFFIX=.magisform.test
MAGISFORM_MANAGER_ORIGIN_PORT_SUFFIX=
MAGISFORM_MANAGER_STATE_DIR=/srv/magisform-manager/secrets
MAGISFORM_MANAGER_ROOT=/srv/magisform-manager
MAGISFORM_MANAGER_EDGE_NETWORK=npm-management
DOCKER_SOCKET_GID=998
